.board-grid {
  display: flex;
  flex-direction: column-reverse;
}

.square {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &--white {
    background-color: #b58863;
    color: #f0d9b5;
  }

  &--black {
    background-color: #f0d9b5;
    color: #b58863;
  }

  & img {
    height: 3rem;
  }
}